In [18]:
import json

patterns = [
    {
        "pattern": r"hello",
        "responses": ["Hello!"],
        "context_set": ""
    },
    {
        "pattern": r"hi",
        "responses": ["Hello!"],
        "context_set": ""
    },
    {
        "pattern": r"good bye",
        "responses": ["Good bye!"],
        "context_set": ""
    },
    {
        "pattern": r"quit",
        "responses": ["Good bye!"],
        "context_set": ""
    },
    {
        "pattern": r".*",
        "responses": ["Sorry! I don't understand"],
        "context_set": ""
    }
]

# Write patterns to patterns.json
with open('patterns.json', 'w') as file:
    json.dump(patterns, file, indent=4)

https://stackoverflow.com/questions/60044233/converting-excel-into-json-using-python

In [60]:
import pandas
import json

# Read excel document
excel_data_df = pandas.read_excel('./data/paired_responses.xlsx', sheet_name='Sheet1')
excel_data_df = excel_data_df.fillna("")

# Convert excel to string 
# (define orientation of document in this case from up to down)
thisisjson = excel_data_df.to_json(orient='records')

# Print out the result
print('Excel Sheet to JSON:\n', thisisjson)

# Make the string into a list to be able to input in to a JSON-file
thisisjson_dict = json.loads(thisisjson)

# Define file to write to and 'w' for write option -> json.dump() 
# defining the list to write from and file to write to
with open('./data/pairs_final.json', 'w') as json_file:
    json.dump(thisisjson_dict, json_file)

Excel Sheet to JSON:
 [{"pattern":"mis4900","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis6900_s24\/, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/aap","context_set":""},{"pattern":"mis4460","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5460_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/ba","context_set":""},{"pattern":"mis4470","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5470_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/pcda","context_set":""},{"pattern":"mis6900","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis6900_s24\/, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/aap","context_set":""},{"pattern":"mis5460","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5460_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/ba","context_set":""},{"pattern":"mis5470","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5470_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/pcda","context_set":""},{"pattern":"quit","responses":"Good bye!","context_set":""}]

https://www.w3schools.com/python/pandas/ref_df_fillna.asp#:~:text=The%20fillna()%20method%20replaces,in%20the%20original%20DataFrame%20instead.

In [58]:
import pandas

# Read excel document
excel_data_df = pandas.read_excel('./data/paired_responses.xlsx', sheet_name='Sheet1')
excel_data_df = excel_data_df.fillna("")

excel_data_df

   pattern                                          responses context_set
0  mis4900  You can find the current course website at htt...
1  mis4460  You can find the current course website at htt...
2  mis4470  You can find the current course website at htt...
3  mis6900  You can find the current course website at htt...
4  mis5460  You can find the current course website at htt...
5  mis5470  You can find the current course website at htt...
6     quit                                          Good bye!