The json files continued to be imported as a list instead of a dictionary, so I decided to make my own dictionary - then just had to change
the chatbot code to accept the intents - a json file isn't necessary for the chatbot process

In [38]:
import json

pattern = [
{
    "hello": "Hello!",
    "hi": "Hello!",
    "good bye": "Good bye!",
    "quit": "Good bye!"
}
]

# Write patterns to patterns.json
with open('./data/msg.json', 'w') as file:
    json.dump(pattern, file, indent=4)

In [8]:
import json

msg = [
    {
        "pattern": r"hello",
        "responses": ["Hello!"],
        "context_set": ""
    },
    {
        "pattern": r"hi",
        "responses": ["Hello!"],
        "context_set": ""
    },
    {
        "pattern": r"good bye",
        "responses": ["Good bye!"],
        "context_set": ""
    },
    {
        "pattern": r"quit",
        "responses": ["Good bye!"],
        "context_set": ""
    },
    {
        "pattern": r".*",
        "responses": ["Sorry! I don't understand"],
        "context_set": ""
    }
]

# Write patterns to patterns.json
with open('./data/msg.json', 'w') as file:
    json.dump(msg, file, indent=4)

https://stackoverflow.com/questions/60044233/converting-excel-into-json-using-python

In [15]:
import pandas
import json

# Read excel document
excel_data_df = pandas.read_excel('./data/paired_responses.xlsx', sheet_name='Sheet1')
#excel_data_df = excel_data_df.fillna("")

# Convert excel to string 
# (define orientation of document in this case from up to down)
thisisjson = excel_data_df.to_json(orient='records')

# Print out the result
print('Excel Sheet to JSON:\n', thisisjson)

# Make the string into a list to be able to input in to a JSON-file
thisisjson_dict = json.loads(thisisjson)

# Define file to write to and 'w' for write option -> json.dump() 
# defining the list to write from and file to write to
with open('./data/pairs_final.json', 'w') as json_file:
    json.dump(thisisjson_dict, json_file)

Excel Sheet to JSON:
 [{"pattern":"mis4900","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis6900_s24\/, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/aap"},{"pattern":"mis4460","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5460_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/ba"},{"pattern":"mis4470","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5470_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/pcda"},{"pattern":"mis6900","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis6900_s24\/, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/aap"},{"pattern":"mis5460","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5460_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/ba"},{"pattern":"mis5470","responses":"You can find the current course website at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/mis5470_f23\/index.html, You can find the permalink at http:\/\/www.sba.oakland.edu\/faculty\/isken\/courses\/pcda"},{"pattern":"quit","responses":"Good bye!"}]

https://www.w3schools.com/python/pandas/ref_df_fillna.asp#:~:text=The%20fillna()%20method%20replaces,in%20the%20original%20DataFrame%20instead.

In [58]:
import pandas

# Read excel document
excel_data_df = pandas.read_excel('./data/paired_responses.xlsx', sheet_name='Sheet1')
excel_data_df = excel_data_df.fillna("")

excel_data_df

   pattern                                          responses context_set
0  mis4900  You can find the current course website at htt...
1  mis4460  You can find the current course website at htt...
2  mis4470  You can find the current course website at htt...
3  mis6900  You can find the current course website at htt...
4  mis5460  You can find the current course website at htt...
5  mis5470  You can find the current course website at htt...
6     quit                                          Good bye!

In [23]:
json_data=[{

"publishTime" : "2021-05-29T12:52:15.129Z",

"data" : {

"identifier" : {

"domain" : "AB",

"id" : "1771374",

"version" : "58593668"

},

"Accounts" : [ {

"effectiveEndDate" : "3000-01-01T00:00:00Z",

"Name" : "w (S)",

"effectiveStartDate" : "2016-09-16T04:21:33Z",

"sAccount" : "SGLDPB_A"

}]

}

}]

data=json.dumps(json_data)

json_to_st=json.loads(data)

for item in json_to_st:
    print(item.get("data").get("Accounts")[0].get("sAccount"))

SGLDPB_A

In [25]:
type(data)

str

In [27]:
type(json_data)

list

In [42]:
from openpyxl import load_workbook
from json import dumps
 
# Load Excel workbook
wb = load_workbook('./data/paired_responses.xlsx')
 
# Choose a specific sheet
sheet = wb["Sheet1"]
 
# Find the number of rows and columns in the sheet
rows = sheet.max_row
columns = sheet.max_column
 
# List to store all rows as dictionaries
lst = []
 
# Iterate over rows and columns to extract data
for i in range(1, rows):
    row = {}
    for j in range(1, columns):
        column_name = sheet.cell(row=1, column=j)
        row_data = sheet.cell(row=i+1, column=j)
 
        row.update(
            {
                column_name.value: row_data.value
            }
        )
    lst.append(row)
 
# Convert extracted data into JSON format
json_data = dumps(lst)
 
# Print the JSON data
print(json_data)

[{"mis4900": "mis4460"}, {"mis4900": "mis4470"}, {"mis4900": "mis6900"}, {"mis4900": "mis5460"}, {"mis4900": "mis5470"}, {"mis4900": "quit"}]

In [44]:
type(json_data)

str

In [33]:
columns

2

In [64]:
import pandas
import numpy as np
# Read excel document
excel_data_df = pandas.read_excel('./data/paired_responses.xlsx', sheet_name='Sheet1', header=None)

msgs = excel_data_df.get(0).tolist()
responses = excel_data_df.get(1).tolist()

msgs

['mis4900', 'mis4460', 'mis4470', 'mis6900', 'mis5460', 'mis5470', 'quit']

In [66]:
responses

['You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap',
 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba',
 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda',
 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap',
 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba',
 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda',
 'You may close the chatbox, Good bye!']

In [69]:
# zip the two lists together to create a list of key-value pairs
key_value_pairs = zip(msgs, responses)

# convert the list of key-value pairs to a dictionary
intents = dict(key_value_pairs)

print(intents)

{'mis4900': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap', 'mis4460': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba', 'mis4470': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda', 'mis6900': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap', 'mis5460': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba', 'mis5470': 'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda', 'quit': 'You may close the chatbox, Good bye!'}

https://www.tutorialspoint.com/get-a-list-of-a-particular-column-values-of-a-pandas-dataframe#:~:text=Apply%20the%20function%20'get(),function%20to%20print%20the%20output

In [52]:
import pandas as pd
import numpy as np
#creating a table

student_data={
   'Name of the Student': ['Alice', 'Cassie', 'Henry', 'Steven'],
   'Age':[15,13,16,14],
   'Favourite Subject':['Math', 'Social', 'Science', 'English']
}

#Now, we will turn the student_data table into Dataframe.
print("DataFrame that we created:")
df=pd.DataFrame(student_data)
print(df)

#tolist() is used to convert the column values into a list.
print("Extracted values of desired Column:")
column_vals=df.get('Favourite Subject').tolist()
print(column_vals)

DataFrame that we created:
  Name of the Student  Age Favourite Subject
0               Alice   15              Math
1              Cassie   13            Social
2               Henry   16           Science
3              Steven   14           English
Extracted values of desired Column:
['Math', 'Social', 'Science', 'English']

In [ ]:
keys = ['mis4900','mis4460','mis4470','mis6900','mis5460','mis5470','quit']
values = ['You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap',
'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba',
'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda',
'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis6900_s24/, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/aap',
'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5460_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/ba',
'You can find the current course website at http://www.sba.oakland.edu/faculty/isken/courses/mis5470_f23/index.html, You can find the permalink at http://www.sba.oakland.edu/faculty/isken/courses/pcda',
'You may close the chatbox, Good bye!'
]

# zip the two lists together to create a list of key-value pairs
key_value_pairs = zip(keys, values)

# convert the list of key-value pairs to a dictionary
intents = dict(key_value_pairs)

print(intents)